<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTaiaJpwwetkm1GDxE9H353RAizgin7jE</string>
	<key>GCM_SENDER_ID</key>
	<string>617135352154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tokoto.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tokoto-8943c</string>
	<key>STORAGE_BUCKET</key>
	<string>tokoto-8943c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617135352154:ios:0d57a77f0f743e7f8f6b63</string>
</dict>
</plist>